go 1.19

use (
	./clients/go/client
	./cmd/starship
	./collector

	./examples/upgrade-test
	./exposer
	./registry
	./tests
	./tools
)

replace github.com/strangelove-ventures/lens => github.com/Anmol1696/lens v0.1.1-0.20230705212610-c00628a886a0
